*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 1400px;
    background-color: #e6f2ff;

}

main {
    padding-top: 80px; 
}

header {
    background-color: rgb(27, 148, 188);
    padding: 20px 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 60px; 
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h2 {
    margin: 0;
    font-family: 'Brush Script MT', cursive;
    font-size: 30px;
}

header nav {
    display: flex;
}

header a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

/* Home-page */

.container {
    position: relative;
    max-width: 800px;
    margin: 80px auto 0;
    padding: 0;
    text-align: center;
}

.container img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.container h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
}

/* Despre noi page */
#Despre-noi main {
    display: flex;
    flex-direction: column;  
    justify-content: flex-start; 
    align-items: center;    
    min-height: 100vh;      
    margin: 0;
    padding-top: 80px;       
}

#Despre-noi main p {
    width: 70%;
    padding: 5px;
    margin-bottom: 5px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

#Despre-noi main h1{
    font-size: 30px;
    text-decoration: underline;
    margin-top:30px;
}

#Despre-noi main img {
    width: 70%; 
    max-width: 600px; 
    height: auto;
    border: 5px solid transparent;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

/* Bilete */

#Bilete main{
    display: flex;
    flex-direction: column;  
    justify-content: flex-start; 
    align-items: center;    
    min-height: 100vh;      
    margin: 0;
    padding-top: 80px; 
}

#Bilete main h1{
    font-size: 30px;
    text-decoration: underline;
    margin-top:20px;
}

#Bilete main img{
    width: 70%; 
    max-width: 600px; 
    height: auto;
    border: 5px solid transparent;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

#Bilete main p{
    width: 70%;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

#Bilete main table {
    width: 80%; 
    margin: 20px auto; 
    border-collapse: collapse; 
}

#Bilete main table th, 
#Bilete main table td {
    border: 1px solid #ddd;
    padding: 12px 15px; 
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif; 
}

#Bilete main table th {
    background-color: #f4f4f4; 
    font-weight: bold; 
    font-size: 18px; 
}

#Bilete main table td {
    font-size: 16px; 
}

#Bilete main table button {
    padding: 10px 15px; 
    background-color: #007BFF; 
    color: white; 
    border: none; 
    border-radius: 5px; 
}

#Bilete main table button:hover {
    background-color: #0056b3; 
}

/* Galerie foto */
#Galerie main{
    display: flex;
    flex-direction: column;  
    justify-content: flex-start; 
    align-items: center;    
    min-height: 100vh;      
    margin: 0;
    padding-top: 80px; 
} 

.containerMulticultural{
    max-width: 1100px;
    background-color: transparent;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 30px;
}

.containerMulticultural h2{
    text-align:center;
     text-decoration: underline;
}

.containerRock{
    max-width: 1100px;
    background-color: transparent;
    border-radius: 10px;
    padding: 40px;
}

.containerRock h2{
    text-align:center;
    text-decoration: underline;
}

#Galerie main h1{
    background-color: rgb(27, 148, 188);
    border-radius: 10px;
    color:white;
    font-size: 50px;
}

#Galerie main img{
    border-radius: 10px;
}

#Galerie main img:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    filter: brightness(0.7);
    transform: scale(1.1);
}

/* Evenimente */
#Evenimente main{
    display: flex;
    flex-direction: column;  
    justify-content: flex-start; 
    align-items: center;    
    min-height: 100vh;      
    margin: 0;
    padding-top: 80px; 
} 

.containerEvenimente {
    position: relative;
    max-width: 500px;
    margin: 150px auto 0;
    padding: 0;
    text-align: center;
}

.containerEvenimente img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.containerEvenimente h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
    
}

#titleEvents{
    text-decoration: underline;
}

#Evenimente main p {
    width: 70%;
    padding: 5px;
    margin-bottom: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

#Evenimente button{
    padding: 10px 15px; 
    background-color: #6A0DAD; 
    color: white; 
    border: none; 
    border-radius: 5px;
}

#Evenimente button:hover{
    background-color: #9B30FF;
}

#Evenimente main img{
    border-radius: 10px;
}

#Evenimente main img:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    filter: brightness(0.7);
    transform: scale(1.1);
}

/* Calendar */

#Calendar h1{
    margin-top: 100px;
    text-align: center;
    font-size: 36px;
    color: #333333;
    letter-spacing: 1.5px;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card{
    width:325px;
    background-color: #5A9BFF;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin:20px;
}

.card img{
    width:100%;
    height: auto;
}

.card-content{
    padding:16px;
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content p{
    color: #333333;
    font-size: 15px;
    line-height: 1.3;
}

.card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #FF5722;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color:white;
    border: none;

}

.card:hover{
    transform: scale(1.1);
}

/* Contact */

.contact-card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.contact-card{
    width:325px;
    background-color: #5A9BFF;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin:20px;
}

.contact-card-content{
    padding:16px;
}

.contact-card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}

.contact-card-content p{
    color: black;
    font-size: 15px;
    line-height: 1.3;
}



/* Footer styling */
footer {
    text-align: center;
    background-color: rgb(27, 148, 188);
    color: black;
    padding: 10px 0;
    font-size: 14px;
    margin-top: auto; 
}

footer a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: white;
}
